.intro {
  margin: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 770px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-flat {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-content {
  height: 160px;
  background: #f4f4f4;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-title h4 {
  font-size: 24px;
}

.card-content-address p {
  height: 20px;
  font-size: 16px;
}

.flat-card-detail {
  height: 20px;
  display: flex;
}


.flat-card-more {
  display: flex;
  align-content: center;
  background: white;
  padding: 16px;
  font-size: 16px;
}

#flat-card-more-edit {
margin-left: 16px;
}

#flat-card-more-delete {
margin-left: 16px;
}

.material-icons {
  font-size: 23px;
}


